@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
  font-family: "EB Garamond", serif;
  font-size: 1.25rem;
  color: #fff;
  background-color: #287;
  display: flex;
  flex-direction: column;
}

.main-heading {
  text-align: center;
  border-bottom: #fff solid 2px;
  margin: auto;
  padding: .5rem 0;
  width: 50%;
}

.links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  list-style-type: square;
}

a.page-link {
  color: #fff;
}

.image-container {
  height: 250px;
  width: 600px;
  overflow: hidden;
  margin: 2rem auto;
  display:inline-block;
}

.image-container .result-image {
  width: 100%;
}

.image-container .result-image.center-vertically {
  top: -8em;
  position: relative;
}

div.page-body-container {
  margin: 0 2em;
}
